[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/xwiki.sh
Description=LSB: Xinit script to manage XWiki availability.
After=remote-fs.target

[Service]
User=XWIKI_USER
Group=XWIKI_GROUP
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/xwiki.sh start
ExecStop=/etc/init.d/xwiki.sh stop
Environment=LAUNCHED_BY_SYSTEMD=true

[Install]
WantedBy=multi-user.target
